anyio==3.5.0
asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.4.0
blis==0.7.8
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
coverage==6.4.1
cycler==0.11.0
cymem==2.0.6
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.3.0/en_core_web_trf-3.3.0-py3-none-any.whl
et-xmlfile==1.1.0
fastapi==0.72.0
filelock==3.7.1
Flask==2.0.2
fonttools==4.28.5
greenlet==1.1.2
h11==0.12.0
huggingface-hub==0.8.1
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.5.1
murmurhash==1.0.7
numpy==1.22.1
openai==0.11.5
openpyxl==3.0.9
packaging==21.3
pandas==1.3.5
pandas-stubs==1.2.0.40
pathy==0.6.2
Pillow==9.0.0
pluggy==1.0.0
preshed==3.0.6
py==1.11.0
pydantic==1.8.2
pyparsing==3.0.6
pytest==7.1.1
pytest-cov==3.0.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
regex==2022.6.2
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.3.1
spacy-alignments==0.8.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-transformers==1.1.7
SQLAlchemy==1.4.31
srsly==2.4.3
starlette==0.17.1
-e ./src/
thinc==8.0.17
threadpoolctl==3.0.0
tokenizers==0.12.1
tomli==2.0.1
torch==1.12.0
tqdm==4.62.3
transformers==4.20.1
typer==0.4.2
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.0
wasabi==0.9.1
Werkzeug==2.0.2
